{% extends "_layouts/cp" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% set urlFormat = url("cookie-consent/site/{handle}") %}
        {% include "cookie-consent/settings/_includes/sitemenu.twig" with {
            urlFormat: urlFormat
        }  %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <nav>
        <ul>
            <li class="heading"><span>{{ "Settings"|t('cookie-consent') }}</span></li>
            <li><a href="/admin/cookie-consent/site/{{ currentSiteHandle }}"{{ currentPage == 'site' ? ' class="sel"' : ''}}>{{ "Site Settings"|t('cookie-consent') }}</a></li>
            {% if canGroups %}
                <li class="heading"><span>{{ "Cookie Groups"|t('cookie-consent') }}</span></li>
                {% for cookieGroup in model.cookieGroups %}
                <li><a href="/admin/cookie-consent/group/{{ currentSiteHandle }}/{{ cookieGroup.id }}"{{ currentPage == 'group' and cookieGroup.id == group.id ? ' class="sel"' : ''}}>{{  cookieGroup.name }}</a></li>
                {% endfor %}
                {% if group is defined and group.isNewRecord %}
                <li><a href="#" class="sel">{{ "New cookie group"|t('cookie-consent') }}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% if not model.isNewRecord and canCreate %}
    <div class="buttons">
        <a href="/admin/cookie-consent/group/{{ currentSiteHandle }}" class="btn add icon">{{ "Add new cookie group"|t('cookie-consent') }}</a>
    </div>
    {% endif %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <button type="submit" class="btn submit">{{ "Save"|t('cookie-consent') }}</button>
    </div>
{% endblock %}