{% extends '_layouts/cp.twig' %}

{% set crumbs = (crumbs ?? [])|merge([{
    label: title,
    url: currentPage
}]) %}

{% if craft.app.getIsMultiSite() %}
    {% if selectableSites is not defined %}
        {% if siteIds is defined %}
            {% set selectableSites = craft.app.sites.getEditableSites()|filter(s => s.id in siteIds) %}
        {% else %}
            {% set selectableSites = craft.app.sites.getEditableSites() %}
        {% endif %}
    {% endif %}

    {% set crumbs = (crumbs ?? [])|unshift({
        id: 'site-crumb',
        icon: 'world',
        label: selectedSite.name|t('site'),
        menu: {
            items: siteMenuItems(selectableSites, selectedSite),
            label: 'Select site'|t('site')
        }
    }) %}
{% endif %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    <nav>
        <ul>
            <li class="heading"><span>{{ "Information"|t('cookie-consent') }}</span></li>
            <li><a href="{{ cpUrl('cookie-consent') }}"{{ currentPage == 'readme' ? ' class="sel"' : ''}}>{{ "Readme"|t('cookie-consent') }}</a></li>
            <li><a href="{{ cpUrl('cookie-consent/site/consent') }}"{{ currentPage == 'consent' ? ' class="sel"' : ''}}>{{ "View consents"|t('cookie-consent') }}</a></li>
            <li class="heading"><span>{{ "Settings"|t('cookie-consent') }}</span></li>
            <li><a href="{{ cpUrl('cookie-consent/site') }}"{{ currentPage == 'site' ? ' class="sel"' : ''}}>{{ "Site Settings"|t('cookie-consent') }}</a></li>
            {% if canGroups %}
                <li class="heading"><span>{{ "Cookie Groups"|t('cookie-consent') }}</span></li>
                {% for cookieGroup in model.cookieGroups %}
                <li><a href="{{ cpUrl('cookie-consent/group/' ~ cookieGroup.id) }}"{{ currentPage == 'group' and cookieGroup.id == group.id ? ' class="sel"' : ''}}>{{  cookieGroup.name }}</a></li>
                {% endfor %}
                {% if group is defined and group.isNewRecord %}
                <li><a href="#" class="sel">{{ "New cookie group"|t('cookie-consent') }}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% if not model.isNewRecord and canCreate %}
    <div class="buttons">
        <a href="{{ cpUrl('cookie-consent/group') }}" class="btn add icon">{{ "New group"|t('cookie-consent') }}</a>
    </div>
    {% endif %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <button type="submit" class="btn submit">{{ "Save"|t }}</button>
    </div>
{% endblock %}
