{% extends "_layouts/cp" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% set urlFormat = url("cookie-consent/{handle}") %}
        {% include "cookie-consent/settings/_includes/sitemenu.twig" with {
            urlFormat: urlFormat
        }  %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <nav>
        <ul>
            <li class="heading"><span>{{ "Settings"|t('cookie-consent') }}</span></li>
            <li><a href="#" class="sel">{{ "Site Settings"|t('cookie-consent') }}</a></li>
            <li class="heading"><span>{{ "Sections"|t('cookie-consent') }}</span></li>
            <li><a href="#">Necessary</a></li>
        </ul>
        <a href="submit" class="btn submit">{{ "Add new section"|t('cookie-consent') }}</a>
    </nav>
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <button type="submit" class="btn submit">{{ "Save"|t('cookie-consent') }}</button>
    </div>
{% endblock %}