{% extends "cookie-consent/settings/_layout.twig" %}
{% block content %}
    <div class="main">
    <div class="toolbar">
        <div class="elements"><div class="tableview">
                <table class="data fullwidth">
                    <thead>
                    <tr>
                        <th scope="col" data-attribute="uid">{{ "UID"|t('cookie-consent') }}</th>
                        <th scope="col" data-attribute="ip">{{ "IP"|t('cookie-consent') }}</th>
                        {% for cookieGroup in model.cookieGroups %}
                            <th scope="col" data-attribute="cookie-{{ cookieGroup.slug }}">{{ cookieGroup.name }}</th>
                        {% endfor %}
                        <th scope="col" data-attribute="date">{{ "Date"|t('cookie-consent') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  if consents is empty %}
                        <tr>
                            <td colspan="7">{{ "No consents yet :("|t('cookie-consent') }}</td>
                        </tr>
                    {% else %}
                        {% for consent in consents %}
                            {% set visitorConsent = consent.data|json_decode %}
                            <tr>
                                <td data-title="uid"><span title="{{ consent.uid }}">{{ consent.uid|slice(0, 8) }}</span></td>
                                <td data-title="uid">{{ consent.ip == null ? '<span class="status red"></span>' : '<span class="status green"></span>' }}</td>
                                {% for cookieGroup in model.cookieGroups %}
                                    <td data-title="cookie-{{ cookieGroup.slug }}">{% if attribute(visitorConsent, cookieGroup.slug) %}<span class="status green"></span>{% else %}<span class="status red"></span>{% endif %}</td>
                                {% endfor %}
                                <td data-title="Date"><span title="{{ consent.dateUpdated|time('long') }}">{{ consent.dateUpdated|date('short') }}</span></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}