<div id="elc-cookie-consent">
    <form id="elc-cookie-consent-form" action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="cookie-consent/consent/update">
        <input type="hidden" name="site_id" value="{{ currentSite.id }}">
        {{ csrfInput() }}
        <div id="elc-cookie-consent-visible" class="columns">
            <div class="column is-three-quarters elc-consent-description">
                <h3 class="is-size-3">{{ craft.cookieConsent.headline }}</h3>
                <p>{{ craft.cookieConsent.description }}</p>
                <p>Last updated at: {{ craft.cookieConsent.updated|datetime('short') }}</p>
            </div>
            <div class="column is-one-quarter has-text-centered is-vcentered text-center elc-consent-action is-flex">
                <div>
                    <input id="elc-accept-link" class="button is-primary elc-button-link" type="submit" value="{{ "OK"|t('cookie-consent') }}">
                    <input id="elc-save-link" class="button is-primary elc-button-link elc-is-display-none" type="submit" value="{{ "Save"|t }}">
                    <br>
                    <a href="#" id="elc-detail-link" class="is-size-7 elc-text-link">{{ "Details"|t('cookie-consent') }}</a>
                    <a href="#" id="elc-hide-detail-link" class="is-size-7 elc-text-link elc-is-display-none">{{ "Hide Details"|t('cookie-consent') }}</a>
                </div>
            </div>
        </div>
        <div id="elc-cookie-consent-settings" class="elc-is-display-none has-text-grey">
            {% for group in craft.cookieConsent.groups %}
                <div class="columns elc-checkbox-row-first">
                    <div class="column is-three-quarters">
                        <h3 class="is-size-5">{{ group.name }}</h3>
                        <p class="is-size-7">{{ group.description }}</p>
                    </div>
                    <div class="column is-one-quarter has-text-centered">
                        <div class="switch_box">
                            <div class="checkbox_wrapper">
                                <input type="checkbox" name="group-{{ group.slug }}"{{ group.required == 1 ? ' disabled="disabled"' : "" }}{{ group.default == 1 ? " checked" : "" }}>
                                <svg class="is_checked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.67 426.67">
                                    <path d="M153.504 366.84c-8.657 0-17.323-3.303-23.927-9.912L9.914 237.265c-13.218-13.218-13.218-34.645 0-47.863 13.218-13.218 34.645-13.218 47.863 0l95.727 95.727 215.39-215.387c13.218-13.214 34.65-13.218 47.86 0 13.22 13.218 13.22 34.65 0 47.863L177.435 356.928c-6.61 6.605-15.27 9.91-23.932 9.91z"/>
                                </svg>
                                <svg class="is_unchecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
                                    <path d="M131.804 106.49l75.936-75.935c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.49 81.18 30.555 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.99 6.99-6.99 18.323 0 25.312L81.18 106.49 5.24 182.427c-6.99 6.99-6.99 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0L106.49 131.8l75.938 75.937c6.99 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.323 0-25.313l-75.936-75.936z" fill-rule="evenodd" clip-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                {% for cookie in group.cookies|json_decode %}
                    <div class="columns elc-cookie-list">
                        <div class="column is-one-fourth">
                            {{ cookie.name }}
                        </div>
                        <div class="column is-one-fourth">
                            {{ cookie.provider }}
                        </div>
                        <div class="column is-one-fourth">
                            {{ cookie.description }}
                        </div>
                        <div class="column is-one-fourth">
                            {{ cookie.expiry }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </form>
</div>

{% do view.registerAssetBundle("elleracompany\\cookieconsent\\AssetBundle") %}