
<div id="elc-cookie-consent">
    <form id="elc-cookie-consent-form" action="" method="post" accept-charset="UTF-8">

        <input type="hidden" name="action" value="cookie-consent/consent/update">
        <input type="hidden" name="site_id" value="{{ currentSite.id }}">
        {{ csrfInput() }}

        <h3>{{ craft.cookieConsent.headline }}</h3>

        <p>{{ craft.cookieConsent.description }}</p>

        <div id="elc-cookie-consent-settings" class="elc-is-display-none">
            {% for group in craft.cookieConsent.groups %}
                <div class="elc-row elc-cookie-headline">
                    <h3 class="elc-cookie-name">{{ group.name }}{% if group.required == 1 %} <small>({{ "Required"|t }})</small>{% endif %}</h3>
                    <input type="checkbox" class="elc-cookie-checkbox" name="group-{{ group.slug }}"{{ group.required == 1 ? ' disabled="disabled"' : "" }}{{ group.default == 1 ? " checked" : "" }}>
                </div>
                <div class="elc-row elc-cookie-description">
                    {{ group.description }}
                </div>
                {% for cookie in group.cookies|json_decode %}
                    <div class="elc-cookie">
                        <div class="elc-cookie-field">
                            <strong>{{ "Name"|t }}</strong>: {{ cookie.name }}
                        </div>
                        <div class="elc-cookie-field">
                            <strong>{{ "Description"|t }}</strong>: {{ cookie.description }}
                        </div>
                        <div class="elc-cookie-field">
                            <strong>{{ "Provider"|t }}</strong>: {{ cookie.provider }}
                        </div>
                        <div class="elc-cookie-field">
                            <strong>{{ "Expiry"|t }}</strong>: {{ cookie.expiry }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="button-container">
            <a href="#" id="elc-detail-link" class="elc-text-link">{{ "Details"|t('cookie-consent') }}</a>
            <a href="#" id="elc-hide-detail-link" class="elc-text-link elc-is-display-none">{{ "Hide Details"|t('cookie-consent') }}</a>

            <input id="elc-accept-link" class="elc-button-link" type="submit" value="{{ "OK"|t('cookie-consent') }}">
            <input id="elc-save-link" class="elc-button-link elc-is-display-none" type="submit" value="{{ "Save"|t('cookie-consent') }}">
        </div>

    </form>
</div>