<section id="elc-cookie-consent" class="elc-small{% if craft.cookieConsent.consentGiven == 1 %} elc-hidden{% endif %}">
    <form id="elc-cookie-consent-form" action="" data-url="{{ actionUrl() }}" {{ craft.cookieConsent.getRefreshDataAttr }} method="post" accept-charset="UTF-8">

        <input type="hidden" name="action" value="cookie-consent/consent/update">
        <input type="hidden" name="site_id" value="{{ currentSite.id }}">

        {% if craft.cookieConsent.consentGiven == 1 %}
            <input type="hidden" name="uid" value="{{ craft.cookieConsent.getUid }}">
        {% endif %}

        {{ csrfInput() }}

        <header class="elc-header">
            <h1 class="elc-primary-heading">{{ craft.cookieConsent.headline }}</h1>
            <p class="elc-header-description">{{ craft.cookieConsent.description }}</p>
        </header>

        <div id="elc-cookie-consent-settings"{% if craft.cookieConsent.hideCheckboxes %} class="elc-hide-when-small"{% endif %}>
            {% for group in craft.cookieConsent.groups %}
                <div class="elc-cookie-group">
                    <div class="elc-row elc-cookie-headline">
                        <input type="checkbox" id="elc-checkbox-{{loop.index}}" class="elc-cookie-checkbox" name="group-{{ group.slug }}"{{ group.required == 1 ? ' disabled="disabled"' : "" }}{{ ((craft.cookieConsent.consentGiven != 1 and group.default == 1) or craft.cookieConsent.getConsent(group.slug)) ? " checked" : "" }}>
                        <label class="elc-cookie-name" for="elc-checkbox-{{loop.index}}">{{ group.name }}{% if group.required == 1 %} <small>({{ "Required"|t('cookie-consent') }})</small>{% endif %}</label>
                    </div>
                    <div class="elc-row elc-cookie-description">
                        {{ group.description }}
                    </div>
                    {% for cookie in group.cookies|json_decode %}
                        <div class="elc-cookie">
                            <div class="elc-cookie-field">
                                <strong>{{ "Name"|t('cookie-consent') }}</strong>: {{ cookie.name }}
                            </div>
                            <div class="elc-cookie-field">
                                <strong>{{ "Description"|t('cookie-consent') }}</strong>: {{ cookie.description }}
                            </div>
                            <div class="elc-cookie-field">
                                <strong>{{ "Provider"|t('cookie-consent') }}</strong>: {{ cookie.provider }}
                            </div>
                            <div class="elc-cookie-field">
                                <strong>{{ "Expiry"|t('cookie-consent') }}</strong>: {{ cookie.expiry }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="button-container">
            <a href="#" id="elc-detail-link" class="elc-text-link">{{ "Details"|t('cookie-consent') }}</a>
            <a href="#" id="elc-hide-detail-link" class="elc-text-link">{{ "Hide Details"|t('cookie-consent') }}</a>

            <input id="elc-save-link" class="{% if craft.cookieConsent.showAcceptAllButton == 1 %}elc-secondary-button-link{% else %}elc-button-link{% endif %}" type="submit" value="{{ "Save"|t('cookie-consent') }}">
            {% if craft.cookieConsent.showAcceptAllButton == 1 %}
                <input id="elc-accept-link" class="elc-secondary-button-link" type="submit" value="{{ "Save"|t('cookie-consent') }}">
                <input id="elc-accept-all-link" class="elc-button-link" type="submit" value="{{ "Accept All"|t('cookie-consent') }}">
            {% else %}
                <input id="elc-accept-link" class="elc-button-link" type="submit" value="{{ "OK"|t('cookie-consent') }}">
            {% endif %}
        </div>

    </form>
</section>
{% if craft.cookieConsent.showAfterConsent == 1 %}
<div id="elc-cookie-tab"{% if not craft.cookieConsent.consentGiven == 1 %} class="elc-hidden"{% endif %}>
    <a href="#" id="elc-tab-link">{{ "COOKIES"|t('cookie-consent') }}</a>
</div>
{% endif %}
